@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');





* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    list-style: none;
    outline: none;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: sticky;
    top: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);







    z-index: 2;
    color: white;

    padding: 0 40px;

}

.navigation ul li {
    display: inline-block;
    margin-left: 20px;
}

.navigation2 ul li {
    display: inline-block;
    margin-left: 20px;
}

.bg-color {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    text-align: center;
    color: white;
    font-weight: bolder;
}

.bg-color h1 {
    margin-top: 21%;


}

.bg-color p {
    margin-top: 10px;
}

.bg-color a {
    border: 1px solid white;
    padding: 0 10px;
    border-radius: 15px;
    background-color: none;
    margin-top: 10px;
    display: inline-block;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
}

.contant {
    margin-top: 85px;
    margin-left: 75px;

}

.contant h1 {
    font-size: 50px;
}


.contant p {
    margin-top: 10px;

    opacity: 0.7;
}

.contant a {
    margin-top: 25px;
    display: inline-block;
    color: white;
    background-color: black;
    padding: 10px 10px;
    border-radius: 15px;
}


.cards {
    margin-top: 25px;
    margin-left: 75px;
    display: flex;
    gap: 10px;
}

.card1,
.card2,
.card3,
.card4 {
    border-radius: 10px;
    width: 270px;
    height: 380px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card1-img img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
}

.card1 p {
    margin-top: 4px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;

}

.card2 p {
    margin-top: 4px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
}

.card3 p {
    margin-top: 4px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
}

.card4 p {
    margin-top: 4px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
}

.card1:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card2:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card3:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card4:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.last p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.last-icons {
    display: inline-block;
    margin-left: 47%;
}